<%- include('../partials/header') %>
 <h2><%=title%></h2>
  <p><img class = "pic"src="images/cupcake.jpg" /></p>
  <p>A cupcake (also British English: fairy cake; Hiberno-English: bun) is a small cake designed to serve one person, which may be baked in a small thin paper or aluminum cup. As with larger cakes, frosting and other cake decorations such as fruit and candy may be applied.A standard cupcake uses the same basic ingredients as standard-sized cakes: butter, sugar, eggs, and flour. Nearly any recipe that is suitable for a layer cake can be used to bake cupcakes. The cake batter used for cupcakes may be flavored or have other ingredients stirred in, such as raisins, berries, nuts, or chocolate chips.

Because their small size is more efficient for heat conduction, cupcakes bake much faster than a normal layered cake. During baking, the volume of the batter initially increases due to the production of carbon dioxide, then decreases upon cooling due to the release of leavening gases.</p>
     
<%- include('../partials/footer') %>